*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
form{
    height: 100px;
    width: 100%;
    background:rgb(red, green, blue)
}